html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 940px;
  overflow-x: auto;
  overflow-y: hidden;
}

body.faction-alliance {
  background-image: url('assets/warsong-alliance.jpg');
}

body.faction-horde {
  background-image: url('assets/warsong-horde.jpg');
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.form,
.results {
  box-sizing: border-box;
  width: 440px;
  height: 586px;
  padding: 20px;
  background-color: rgb(255 255 255 / 80%);
}

.divider {
  height: 546px !important;
  align-self: auto !important;
}

.results {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.textInput {
  width: 100%;
}

.select {
  width: 146px !important;
}

.warning {
  margin: 6px 0 0 0;
  padding: 0 0 0 20px;
}

.cancel {
  margin-left: 10px !important;
}

.resultsTitle {
  margin-top: 5px !important;
  margin-bottom: 21px !important;
}

.resultsTitle:only-child {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.resultsTable + .resultsTable {
  margin-top: 10px;
}

.firstColumn {
  width: 32px;
  text-align: center !important;
}

.iconImage {
  display: block;
  margin: auto;
}

.MuiTableCell-root {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.footer {
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 6px !important;
}
